.posts_list__container {
    .individual_post {
        margin: 1rem 0;
        cursor: pointer;

        p,
        h2,
        h3,
        h4 {
            margin: 0;
            padding: 0;
        }
    }
}
