.posts_list__container {
    .individual_post {
        margin: 0.7rem 0;
        cursor: pointer;

        padding: 0.7rem 1rem;
        border: 1px solid var(--input-border);
        border-radius: 5px;

        text-align: justify;

        .title {
            font-weight: 600;
            font-size: large;
            margin-bottom: 0.2rem;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

        .content {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }

        p,
        h2,
        h3,
        h4 {
            margin: 0;
            padding: 0;
        }
    }
}
